article{
    margin-top: 30px;
}

article h1,
article h2,
article p,
article pre code{
    padding: 15px;
}

/* Heading */

article h1{
    
}

/* Paragraph */

article p{
    
}

/* Image */

article p:has(img){
    padding: 0;
}

article p img{
    display: block;
    width: 100%;
}

pre code,
pre code *{
    font-family: 'JetBrains Mono', monospace;
}