header{
    background-color: #fafafa;
    height: 63px;
    display: flex;   
}

header a{
    display: flex;
    text-decoration: none;
}

header a .logo{
    height: 42px;
    display: block;
    align-self: center;
    margin-left: 15px;
}

header a .site-name{
    align-self: center;
    margin-left: 9px;
    color: black;
}