header{
    background-color: #fafafa;
    height: 52px;
    display: flex;
}

header .site-name{
    align-self: center;
    margin-left: 15px;
    
}

header .site-name a{
    text-decoration: none;
    color: black;
}