.post-list-container{
    margin-top: 30px;
}

.post-list-container h2{
    padding: 15px;
}

.post-list-container ul{
    list-style: none;
    padding: 0;
    margin-top: 15px;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.post-list-container ul li a{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 180px;
    text-decoration: none;
    color: black;
    background-color: #fafafa;
}

.post-list-container ul li a:hover,
.post-list-container ul li a:focus{
    border: 1px solid #333;
}

.post-list-container ul li a .post-title{
    margin: auto;
    font-size: 21px;
}